.c-latest-news-max-width {

    max-width: 1300px;
    padding: 1em;
    margin: 0 auto 4em;
}

.c-latest-news--background-and-postion-change {

    position: relative;
    top: -2.3em;
    background-color: transparent
}

.c-latest-news--background-and-postion-change::before {

    background-color: transparent
}


.c-latest-news-container-for-grid {
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    padding: 1em;
    overflow: hidden;




    @include mq($width: 78.3125rem) {

        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

    }

}

.c-latest-news-articles {


    height: 510px;
    overflow: hidden;

    @include mq($width: 65rem) {
        height: 500px;

    }




}


.c-latest-news-articles--for-confirm-add-news-story {

    flex-direction: column;
    align-items: center;
}


.c-latest-news-img-container {
    height: auto !important;

}


.c-latest-news-articles-text-container--text-align {

    text-align: center;
}

.c-upcoming-shows-button-container {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    margin-top: 7em;
    margin-bottom: 5em;

}


.c-upcoming-shows-info {

    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}

.c-upcoming-shows-info::after {

    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.c-music--background-and-postion-change {

    background-color: transparent;
    position: relative;
    top: -2.3em;

}


.c-music-background-image::before {

    background-image: none;
}


.c-music-container {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;


}

.c-music-container-list {

    margin: 0;
    list-style-type: none;
    padding: 0;
}

.c-music-button-container {

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    margin-bottom: 2em;

}

.c-music-info {

    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
}